
.page-title h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.page-title p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 24px;
  color: var(--text-color);
}

@media (max-width: 600px) {
  .page-title h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 375px) {
  .page-title h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .page-title h1 {
    font-size: 1.2rem;
  }
}