<!-- <nav class="navbar">
  <div class="nav-icons" role="navigation" aria-label="主選單">
    <a href="/liff/mimic/?dev=1" title="穿搭" aria-label="穿搭">
      <i class="fas fa-heart" title="穿搭"></i>
      <p>我喜歡的穿搭</p>
    </a>
    <a href="/liff/closet/?dev=1" title="衣櫃" aria-label="衣櫃">
      <i class="fas fa-shirt" title="衣櫃"></i>
      <p>我的衣櫃</p>
    </a>
  </div>
  <div class="logo">
    <a href="/">about us</a>
  </div>
</nav> -->


<nav class="navbar">
  <div class="logo"><a href="/"> MyStylist</a></div>
  <div class="nav-icons" role="navigation" aria-label="主選單">
    <a href="/liff/mimic/?dev=1" title="穿搭" aria-label="穿搭">
      <i class="fas fa-heart" title="穿搭"></i>
      <p>Look</p>
    </a>
    <a href="/liff/closet/?dev=1" title="衣櫃" aria-label="衣櫃">
      <i class="fas fa-shirt" title="衣櫃"></i>
      <p>Closet</p>
    </a>
  </div>
</nav>